<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Flask App</title>
</head>
<body>
    <h1>C'est l'heure des booooooooooooooooooooooooooooooooooosts</h1>
    
    {% if nickname %}
        <p>Bonjour, {{ nickname }} !</p>
        <p>Clan : {{ clan_name }}</p>
        <a href="/logout">
            <button>Se déconnecter</button>
        </a>
    {% else %}
        <p>Vous n'êtes pas connecté.</p>
        <a href="/login">
            <button>Se connecter via Wargaming</button>
        </a>
    {% endif %}
</body>
</html>
